<%- partial("_partials/navbar") %>

<header class="header-home">
  <div class="container">
    <h1>Professional eye care in a comfortable and friendly environment</h1>
    <h2>We are excited to have you visit our practice. Please contact us to schedule your appointment today.</h2>
    <button class="btn btn-lg">Contact Us</button>
  </div>
</header>