<%- partial("_partials/navbar") %>

<header class="header">
  <div class="container">
    <h1>Professional eye care in a comfortable and friendly environment</h1>
    <h2>We are excited to have you visit our practice. Please contact us to schedule your appointment today.</h2>
    <button class="btn btn-lg">Contact Us</button>
  </div>
</header>

<section id="about" class="about">
  <div class="container">
    <h2>About Dr. Lannin</h2>
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <img src="/assets/img/dr-lannin.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 visible-xs-block">
        <img src="/assets/img/dr-lannin-xs.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>Dr. Janani Lannin established her optometric practice in the Northstate fifteen years ago. As a mother of three and a long-time Redding resident, Dr. Lannin's practice accomplishes a seamless fusion of state-of-the-art technologies and fashions with thorough, old-fashioned good service. During her time here, her practice has grown many-fold, solely by positive referrals and word-of-mouth. She is passionate about facilitating optimal vision for her patients, while ensuring their ocular health.</p>
        <h3>Professional Education</h3>
        <p>
          - O.D. (Doctor of Optometry) - Illinois College of Optometry, Chicago, IL<br>
          - Graduate work in enzyme biochemistry - Miami University, Oxford, OH<br>
          - M.S. (Master of Science) - Cell Biology - Delhi University, New Delhi, India<br>
          - B.S. (Bachelor of Science) - Zoology (Honors) - Delhi University, New Delhi, India
        </p>
        <h3>Residency</h3>
        <p>
          - Primary Care Optometry - Westside Veterans Administration Hospital, Chicago, IL
        </p>
      </div>
    </div>
  </div>
</section>