<%- partial("_partials/navbar") %>

<header class="header">
  <div class="container">
    <h1>Professional eye care in a comfortable and friendly environment</h1>
    <h2>We are excited to have you visit our practice. Please contact us to schedule your appointment today.</h2>
    <button id="contact-us" class="btn btn-lg">Contact Us</button>
  </div>
</header>

<section class="callout">
  <div class="container">
    <p>Find us on <a href="http://www.yelp.com/biz/jk-lannin-od-redding" target="_blank"><img src="assets/img/yelp.png" class="yelp"></a> and <a href="https://www.facebook.com/drlannin/" target="_blank"><img src="assets/img/facebook.png" class="facebook"></a></p>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <h2>About Dr. Lannin</h2>
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <img src="assets/img/dr-lannin.jpg" class="img-responsive" alt="Portrait image of Dr. Janani Lannin">
      </div>
      <div class="col-sm-4 visible-xs-block">
        <img src="assets/img/dr-lannin-xs.jpg" class="img-responsive" alt="Smaller ortrait image of Dr. Janani Lannin">
      </div>
      <div class="col-sm-8">
        <p>Dr. Janani Lannin established her optometric practice in the Northstate over fifteen years ago. As a mother of three and a long-time Redding resident, Dr. Lannin has created a practice that accomplishes a seamless fusion of state-of-the-art technologies and old-fashioned, quality service. During her time here, her practice has grown many-fold, solely by positive referrals and word-of-mouth. She is passionate about facilitating optimal vision for her patients, while also ensuring their ocular health.</p>
        <h3>Professional Education</h3>
        <p>
          - O.D. (Doctor of Optometry) - Illinois College of Optometry, Chicago, IL<br>
          - Graduate work in enzyme biochemistry - Miami University, Oxford, OH<br>
          - M.S. (Master of Science) - Cell Biology - Delhi University, New Delhi, India<br>
          - B.S. (Bachelor of Science) - Zoology (Honors) - Delhi University, New Delhi, India
        </p>
        <h3>Residency</h3>
        <p>
          - Primary Care Optometry - Westside Veterans Administration Hospital, Chicago, IL
        </p>
      </div>
    </div>
  </div>
</section>

<section id="services" class="services">
  <div class="container">
    <h2>Services</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="service">
          <p class="icon eye-exams"><i class="fa fa-sort-alpha-asc fa-5x"></i></p>
          <h3>Comprehensive visual exams</h3>
          <p>We will determine your eye prescription for various tasks</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service">
          <p class="icon"><i class="fa fa-eye fa-7x"></i></p>
          <h3>Fittings for glasses and contact lenses</h3>
          <p>We carry a wide array for designer eyewear and contact lense brands</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service">
          <p class="icon"><i class="fa fa-user-md fa-7x"></i></p>
          <h3>Consultation for surgical procedures</h3>
          <p>We provide screening for surgeries such as LASIK and cataract removal</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="service">
          <p class="icon"><i class="fa fa-stethoscope fa-7x"></i></p>
          <h3>Diagnosis and treatment of eye diseases</h3>
          <p>Conditions include pink eye, glaucoma, and eye inflamations</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service">
          <p class="icon"><i class="fa fa-medkit fa-7x"></i></p>
          <h3>Pre- and post-operative care</h3>
          <p>We work with well-qualified surgeons before and after your procedure</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="eyewear" class="eyewear">
  <div class="container">
    <h2>Eyewear</h2>
    <p class="lead">We carry many different brands of eyewear in order to suit whatever style you are looking for</p>
    <div class="row first-row">
      <div class="col-xs-4 col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/guess.jpg" alt="Guess logo">
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/jimmy-choo.png" alt="Jimmy Choo logo">
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/ray-ban.png" alt="Ray Ban logo">
      </div>
      <div class="hidden-xs col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/bebe.png" alt="Bebe logo">
      </div>
      <div class="hidden-xs hidden-sm col-md-2">
        <img class="img-responsive" src="assets/img/caviar.jpg" alt="Caviar logo">
      </div>
      <div class="hidden-xs hidden-sm col-md-2">
        <img class="img-responsive" src="assets/img/cazal.gif" alt="Cazal logo">
      </div>
    </div>
    <div class="row visible-xs-block">
      <div class="col-xs-4">
        <img class="img-responsive" src="assets/img/bebe.png" alt="Bebe logo">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive" src="assets/img/caviar.jpg" alt="Caviar logo">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive" src="assets/img/cazal.gif" alt="Cazal logo">
      </div>
    </div>
    <div class="row visible-sm-block">
      <div class="col-sm-3">
        <img class="img-responsive" src="assets/img/caviar.jpg" alt="Caviar logo">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive" src="assets/img/cazal.gif" alt="Cazal logo">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive" src="assets/img/kate-spade.png" alt="Kate Spade logo">
      </div>
      <div class="col-sm-3">
        <img class="img-responsive" src="assets/img/dior.png" alt="Dior logo">
      </div>
    </div>
    <div class="row visible-xs-block">
      <div class="col-xs-4">
        <img class="img-responsive" src="assets/img/kate-spade.png" alt="Kate Spade logo">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive" src="assets/img/dior.png" alt="Dior logo">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive" src="assets/img/calvin-klein.jpg" alt="Calvin Klein logo">
      </div>
    </div>
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-2">
        <img class="img-responsive" src="assets/img/kate-spade.png" alt="Kate Spade logo">
      </div>
      <div class="hidden-xs hidden-sm col-md-2">
        <img class="img-responsive" src="assets/img/dior.png" alt="Dior logo">
      </div>
      <div class="hidden-xs col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/calvin-klein.jpg" alt="Calvin Klein logo">
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/bolle.gif" alt="Bolle logo">
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/versace.jpg" alt="Versace logo">
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <img class="img-responsive" src="assets/img/vera-wang.png" alt="Vera Wang logo">
      </div>
    </div>
  </div>
</section>

<section id="forms" class="forms">
  <div class="container">
    <h2>Forms</h2>
    <p class="lead">Download, print, and fill out our patient questionaire before visiting in order to expedite the process of getting checked in.</p>
    <a href="uploads/jkl-patient-questionaire.pdf" target="_blank" class="btn btn-lg">View Form</a>
  </div>
</section>


<section id="contact" class="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <div class="row">
      <div class="col-sm-4 col-md-6">
        <div class="contact-info">
          <p><strong>J. K. Lannin Optometry</strong></p>
          <p>1950 Court St.</p>
          <p>Redding, CA 96001</p>
          <p>Tel: <a href="tel:1-530-241-0778">530-241-0778</a></p>
          <p>Email: <a href="mailto:jklannin@sbcglobal.net">jklannin@sbcglobal.net</a></p>
          <p>Hours: Monday - Friday, 8:30am to 5:30pm</p>
        </div>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="map">
          <iframe width="400" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1950%20Court%20Street%2C%20Redding%2C%20CA%2C%20United%20States&key=AIzaSyDdeBOwh8Uv2k_xGcElJ1u6hKjX5edDRDk"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-text">
      <p>&copy; J. K. Lannin, O.D.</p>
    </div>
  </div>
</footer>
